################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PublicHolidays/bin
/PublicHolidays/obj
/.vs
/PublicHolidaysUnitTests/bin
/PublicHolidaysUnitTests/obj
TODO_intern.txt
